USE master
GO

SET NOCOUNT ON
GO

DECLARE @db_name NVARCHAR(100) = N'AlamiPharmacyDB_v4'
DECLARE @data_path NVARCHAR(256)
DECLARE @log_path NVARCHAR(256)

SET @data_path = CAST(SERVERPROPERTY('InstanceDefaultDataPath') AS NVARCHAR(256))
SET @log_path = CAST(SERVERPROPERTY('InstanceDefaultLogPath') AS NVARCHAR(256))

IF @data_path IS NULL
BEGIN
    SELECT @data_path = SUBSTRING(filename, 1, CHARINDEX(N'master.mdf', LOWER(filename)) - 1)
    FROM master.dbo.sysaltfiles WHERE dbid = 1 AND fileid = 1
    SET @log_path = @data_path
END

IF EXISTS (SELECT * FROM sys.databases WHERE name = @db_name)
BEGIN
    DECLARE @kill_sql NVARCHAR(MAX)
    SET @kill_sql = N'ALTER DATABASE [' + @db_name + N'] SET SINGLE_USER WITH ROLLBACK IMMEDIATE'
    EXEC (@kill_sql)
    
    DECLARE @drop_sql NVARCHAR(MAX)
    SET @drop_sql = N'DROP DATABASE [' + @db_name + N']'
    EXEC (@drop_sql)
    
    PRINT '-> Da xoa database cu: ' + @db_name
END

DECLARE @create_sql NVARCHAR(MAX)
SET @create_sql = N'CREATE DATABASE [' + @db_name + N']
  ON PRIMARY (NAME = N''' + @db_name + N''', FILENAME = N''' + @data_path + @db_name + N'.mdf'')
  LOG ON (NAME = N''' + @db_name + N'_log'', FILENAME = N''' + @log_path + @db_name + N'_log.ldf'')'

PRINT '-> Dang tao database tai: ' + @data_path
EXEC (@create_sql)
GO

USE [AlamiPharmacyDB_v4]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
    EXEC [dbo].[sp_fulltext_database] @action = 'enable'
END
GO

PRINT '=== KHOI TAO THANH CONG DATABASE: AlamiPharmacyDB_v4 ==='
PRINT '=== BAT DAU TAO BANG VA DU LIEU ==='
GO

USE [AlamiPharmacyDB_v4]
GO
/****** Object:  Sequence [dbo].[Emp_Seq]    Script Date: 12/19/2025 3:48:53 PM ******/
CREATE SEQUENCE [dbo].[Emp_Seq] 
 AS [bigint]
 START WITH 5
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [AlamiPharmacyDB_v4]
GO
/****** Object:  Sequence [dbo].[Invoice_Seq]    Script Date: 12/19/2025 3:48:53 PM ******/
CREATE SEQUENCE [dbo].[Invoice_Seq] 
 AS [bigint]
 START WITH 20
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [AlamiPharmacyDB_v4]
GO
/****** Object:  Sequence [dbo].[LoThuoc_Seq]    Script Date: 12/19/2025 3:48:53 PM ******/
CREATE SEQUENCE [dbo].[LoThuoc_Seq] 
 AS [bigint]
 START WITH 45
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [AlamiPharmacyDB_v4]
GO
/****** Object:  Sequence [dbo].[Refund_Seq]    Script Date: 12/19/2025 3:48:53 PM ******/
CREATE SEQUENCE [dbo].[Refund_Seq] 
 AS [bigint]
 START WITH 15
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [AlamiPharmacyDB_v4]
GO
/****** Object:  Sequence [dbo].[Vou_Seq]    Script Date: 12/19/2025 3:48:53 PM ******/
CREATE SEQUENCE [dbo].[Vou_Seq] 
 AS [bigint]
 START WITH 15
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[tbl_cua_hang]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cua_hang](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ten_cua_hang] [nvarchar](100) NULL,
	[dia_chi] [nvarchar](200) NULL,
	[so_dang_ky] [varchar](50) NULL,
	[giay_chung_nhan] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_chi_tiet_hoa_don]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_chi_tiet_hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_hd] [varchar](12) NOT NULL,
	[ma_sp] [int] NOT NULL,
	[so_lo] [varchar](30) NULL,
	[so_luong] [int] NULL,
	[don_gia] [decimal](18, 2) NULL,
	[gia_goc] [decimal](18, 2) NULL,
	[thanh_tien]  AS ([so_luong]*[don_gia]) PERSISTED,
	[ghi_chu] [nvarchar](100) NULL,
	[created_at] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_chi_tiet_hoa_don_tra]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_chi_tiet_hoa_don_tra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[so_luong] [int] NULL,
	[don_gia] [decimal](18, 2) NULL,
	[thanh_tien]  AS ([so_luong]*[don_gia]) PERSISTED,
	[so_lo] [varchar](30) NULL,
	[ma_sp] [int] NULL,
	[ma_hd_tra] [varchar](13) NULL,
	[trang_thai_id] [bit] NULL,
	[huong_xu_ly] [nvarchar](50) NULL,
	[ly_do] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_dang_bao_che]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dang_bao_che](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ten_dang_bao_che] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_don_vi_tinh]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_don_vi_tinh](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ten_dvt] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_duong_dung]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_duong_dung](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ten_duong_dung] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_hang_thanh_vien]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hang_thanh_vien](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[hang_thanh_vien] [varchar](20) NULL,
	[mo_ta] [nvarchar](100) NULL,
	[diem_toi_thieu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_hoa_don]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hoa_don](
	[id] [varchar](12) NOT NULL,
	[ma_kh] [int] NULL,
	[ma_nv] [varchar](10) NULL,
	[ma_vou] [varchar](13) NULL,
	[ngay_lap] [datetime] NULL,
	[tong_tien] [decimal](18, 2) NULL,
	[tong_tien_sau_giam] [decimal](18, 2) NULL,
	[da_tra] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_hoa_don_tra]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hoa_don_tra](
	[id] [varchar](13) NOT NULL,
	[ma_kh] [int] NULL,
	[ma_nv] [varchar](10) NULL,
	[ma_hd] [varchar](12) NULL,
	[ngay_lap] [datetime] NULL,
	[tien_hoan] [decimal](18, 2) NULL,
	[ly_do] [nvarchar](255) NULL,
	[da_duyet] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_khach_hang]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[so_dien_thoai] [varchar](11) NULL,
	[hang_thanh_vien] [tinyint] NULL,
	[diem_tich_luy] [int] NULL,
	[created_at] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_lo_thuoc]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_lo_thuoc](
	[so_lo] [varchar](30) NOT NULL,
	[ngay_san_xuat] [date] NULL,
	[han_su_dung] [date] NULL,
	[ngay_nhap] [datetime] NULL,
	[so_luong_nhap] [int] NOT NULL,
	[so_luong_con] [int] NULL,
	[gia_nhap] [decimal](18, 2) NULL,
	[thanh_tien]  AS ([gia_nhap]*[so_luong_nhap]) PERSISTED,
	[gia_ban] [decimal](18, 2) NULL,
	[ma_sp] [int] NOT NULL,
	[ma_ncc] [tinyint] NOT NULL,
	[ma_nv] [varchar](10) NOT NULL,
	[trang_thai_id] [tinyint] NULL,
	[created_at] [smalldatetime] NULL,
	[updated_at] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[so_lo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_loai_san_pham]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_loai_san_pham](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ten_loai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_nha_cung_cap]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nha_cung_cap](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ma_nha_may] [varchar](10) NULL,
	[ten_nha_cung_cap] [nvarchar](200) NULL,
	[dia_chi] [nvarchar](200) NULL,
	[so_dien_thoai] [varchar](20) NULL,
	[ma_so_thue] [varchar](50) NULL,
	[email] [varchar](40) NULL,
	[website] [varchar](50) NULL,
	[ghi_chu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_nhan_vien]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_nhan_vien](
	[ma_nv] [varchar](10) NOT NULL,
	[ho_ten] [nvarchar](100) NULL,
	[so_dien_thoai] [varchar](11) NULL,
	[email] [varchar](50) NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [bit] NULL,
	[dia_chi] [nvarchar](255) NULL,
	[cua_hang_id] [tinyint] NULL,
	[avatar_url] [varchar](100) NULL,
	[ngay_vao_lam] [date] NULL,
	[deleted] [bit] NULL,
	[created_at] [smalldatetime] NULL,
	[update_at] [smalldatetime] NULL,
	[deleted_at] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_permission]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permission_key] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_role]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_role_permission]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_role_permission](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
 CONSTRAINT [pk_role_permission] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_san_pham]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [varchar](15) NULL,
	[ten_sp] [nvarchar](100) NULL,
	[ten_sp_khong_dau] [varchar](100) NULL,
	[hoat_chat_ham_luong] [nvarchar](255) NULL,
	[dang_bao_che] [nvarchar](50) NULL,
	[duong_dung] [nvarchar](50) NULL,
	[chi_dinh] [nvarchar](255) NULL,
	[chong_chi_dinh] [nvarchar](255) NULL,
	[lieu_dung] [nvarchar](255) NULL,
	[so_dang_ky] [nvarchar](20) NULL,
	[nuoc_san_xuat] [nvarchar](100) NULL,
	[nha_san_xuat] [nvarchar](255) NULL,
	[tieu_chuan_chat_luong] [nvarchar](50) NULL,
	[quy_cach_dong_goi] [nvarchar](100) NULL,
	[don_vi_tinh] [nvarchar](50) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[avatar_url] [varchar](50) NULL,
	[tong_so_luong] [int] NULL,
	[loai_sp_id] [tinyint] NULL,
	[deleted] [bit] NULL,
	[created_at] [smalldatetime] NULL,
	[updated_at] [smalldatetime] NULL,
	[deleted_at] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_tai_khoan]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tai_khoan](
	[user_name] [varchar](10) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[otp_key] [varchar](7) NULL,
	[expiry_time] [datetime2](7) NULL,
	[account_locked] [bit] NULL,
	[created_at] [smalldatetime] NULL,
	[update_at] [smalldatetime] NULL,
	[deleted_at] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_tieu_chuan_chat_luong]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tieu_chuan_chat_luong](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ten_tieu_chuan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_trang_thai_lo]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_trang_thai_lo](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ten_trang_thai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_role]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_role](
	[user_id] [varchar](10) NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [pk_user_has_role] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_voucher]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_voucher](
	[ma_voucher] [varchar](13) NOT NULL,
	[gia_tri] [int] NULL,
	[don_toi_thieu] [decimal](18, 2) NULL,
	[giam_toi_da] [decimal](18, 2) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[so_lan_da_dung] [int] NULL,
	[so_luot_su_dung_toi_da] [int] NULL,
	[dieu_kien_hang_tv] [tinyint] NULL,
	[deleted] [bit] NULL,
	[created_at] [smalldatetime] NULL,
	[update_at] [smalldatetime] NULL,
	[deleted_at] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_cua_hang] ON 

INSERT [dbo].[tbl_cua_hang] ([id], [ten_cua_hang], [dia_chi], [so_dang_ky], [giay_chung_nhan]) VALUES (1, N'Cửa hàng 01 - Nhà thuốc Alami Pharmacy', N'12 Nguyễn Văn Bảo, phường Hạnh Thông, Thành phố Hồ Chí Minh', N'VS-(028) 38940390', N'/images/giay-chung-nhan.png')
SET IDENTITY_INSERT [dbo].[tbl_cua_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_chi_tiet_hoa_don] ON 

INSERT [dbo].[tbl_chi_tiet_hoa_don] ([id], [ma_hd], [ma_sp], [so_lo], [so_luong], [don_gia], [gia_goc], [ghi_chu], [created_at]) VALUES (1, N'HD1312250001', 4, N'LSX-131225-DHG-000004-002', 5, CAST(2000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), NULL, CAST(N'2025-12-13T03:23:00' AS SmallDateTime))
INSERT [dbo].[tbl_chi_tiet_hoa_don] ([id], [ma_hd], [ma_sp], [so_lo], [so_luong], [don_gia], [gia_goc], [ghi_chu], [created_at]) VALUES (2, N'HD1312250001', 10, N'LSX-131225-DHG-000010-008', 3, CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), NULL, CAST(N'2025-12-13T03:23:00' AS SmallDateTime))
INSERT [dbo].[tbl_chi_tiet_hoa_don] ([id], [ma_hd], [ma_sp], [so_lo], [so_luong], [don_gia], [gia_goc], [ghi_chu], [created_at]) VALUES (3, N'HD1312250001', 16, N'LSX-131225-DHG-000016-014', 2, CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), NULL, CAST(N'2025-12-13T03:23:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[tbl_chi_tiet_hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_chi_tiet_hoa_don_tra] ON 

INSERT [dbo].[tbl_chi_tiet_hoa_don_tra] ([id], [so_luong], [don_gia], [so_lo], [ma_sp], [ma_hd_tra], [trang_thai_id], [huong_xu_ly], [ly_do]) VALUES (1, 2, CAST(5000.00 AS Decimal(18, 2)), N'LSX-131225-DHG-000016-014', 16, N'HDT1312250001', 1, N'Bán tiếp', N'')
INSERT [dbo].[tbl_chi_tiet_hoa_don_tra] ([id], [so_luong], [don_gia], [so_lo], [ma_sp], [ma_hd_tra], [trang_thai_id], [huong_xu_ly], [ly_do]) VALUES (2, 1, CAST(100000.00 AS Decimal(18, 2)), N'LSX-131225-DHG-000018-016', 18, N'HDT1312250001', 1, N'Bán tiếp', N'')
INSERT [dbo].[tbl_chi_tiet_hoa_don_tra] ([id], [so_luong], [don_gia], [so_lo], [ma_sp], [ma_hd_tra], [trang_thai_id], [huong_xu_ly], [ly_do]) VALUES (3, 1, CAST(10000.00 AS Decimal(18, 2)), N'LSX-131225-DHG-000001-001', 1, N'HDT1812250002', 1, N'Bán tiếp', N'')
SET IDENTITY_INSERT [dbo].[tbl_chi_tiet_hoa_don_tra] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_dang_bao_che] ON 

INSERT [dbo].[tbl_dang_bao_che] ([id], [ten_dang_bao_che]) VALUES (1, N'Viên nén')
INSERT [dbo].[tbl_dang_bao_che] ([id], [ten_dang_bao_che]) VALUES (2, N'Viên nang cứng')
INSERT [dbo].[tbl_dang_bao_che] ([id], [ten_dang_bao_che]) VALUES (3, N'Viên nang mềm')
SET IDENTITY_INSERT [dbo].[tbl_dang_bao_che] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_don_vi_tinh] ON 

INSERT [dbo].[tbl_don_vi_tinh] ([id], [ten_dvt]) VALUES (1, N'Viên')
INSERT [dbo].[tbl_don_vi_tinh] ([id], [ten_dvt]) VALUES (2, N'Vỉ')
INSERT [dbo].[tbl_don_vi_tinh] ([id], [ten_dvt]) VALUES (3, N'Hộp')
SET IDENTITY_INSERT [dbo].[tbl_don_vi_tinh] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_duong_dung] ON 

INSERT [dbo].[tbl_duong_dung] ([id], [ten_duong_dung]) VALUES (1, N'Đường uống')
INSERT [dbo].[tbl_duong_dung] ([id], [ten_duong_dung]) VALUES (2, N'Đường tiêm')
INSERT [dbo].[tbl_duong_dung] ([id], [ten_duong_dung]) VALUES (3, N'Đường hít')
SET IDENTITY_INSERT [dbo].[tbl_duong_dung] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_hang_thanh_vien] ON 

INSERT [dbo].[tbl_hang_thanh_vien] ([id], [hang_thanh_vien], [mo_ta], [diem_toi_thieu]) VALUES (1, N'Normal', N'Hạng mặc định cho khách mới', 0)
INSERT [dbo].[tbl_hang_thanh_vien] ([id], [hang_thanh_vien], [mo_ta], [diem_toi_thieu]) VALUES (2, N'Silver', N'Hạng bạc - điểm tích lũy từ 1000 điểm trở lên', 1000)
INSERT [dbo].[tbl_hang_thanh_vien] ([id], [hang_thanh_vien], [mo_ta], [diem_toi_thieu]) VALUES (3, N'Gold', N'Hạng vàng - điểm tích lũy từ 3000 điểm trở lên', 3000)
SET IDENTITY_INSERT [dbo].[tbl_hang_thanh_vien] OFF
GO
INSERT [dbo].[tbl_hoa_don] ([id], [ma_kh], [ma_nv], [ma_vou], [ngay_lap], [tong_tien], [tong_tien_sau_giam], [da_tra]) VALUES (N'HD1312250001', 1, N'ALA010001', NULL, CAST(N'2025-12-13T03:23:07.400' AS DateTime), CAST(135000.00 AS Decimal(18, 2)), CAST(135000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tbl_hoa_don] ([id], [ma_kh], [ma_nv], [ma_vou], [ngay_lap], [tong_tien], [tong_tien_sau_giam], [da_tra]) VALUES (N'HD1312250002', NULL, N'ALA010001', NULL, CAST(N'2025-12-13T18:06:48.527' AS DateTime), CAST(8671080.00 AS Decimal(18, 2)), CAST(8671080.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[tbl_hoa_don] ([id], [ma_kh], [ma_nv], [ma_vou], [ngay_lap], [tong_tien], [tong_tien_sau_giam], [da_tra]) VALUES (N'HD1312250003', 21, N'ALA010002', NULL, CAST(N'2025-12-13T20:45:12.373' AS DateTime), CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[tbl_hoa_don_tra] ([id], [ma_kh], [ma_nv], [ma_hd], [ngay_lap], [tien_hoan], [ly_do], [da_duyet]) VALUES (N'HDT1312250001', 1, N'ALA010001', N'HD1312250001', CAST(N'2025-12-13T20:05:48.517' AS DateTime), CAST(110000.00 AS Decimal(18, 2)), N'Không còn nhu cầu: ', 1)
INSERT [dbo].[tbl_hoa_don_tra] ([id], [ma_kh], [ma_nv], [ma_hd], [ngay_lap], [tien_hoan], [ly_do], [da_duyet]) VALUES (N'HDT1812250002', 21, N'ALA010002', N'HD1312250003', CAST(N'2025-12-18T01:20:42.077' AS DateTime), CAST(10000.00 AS Decimal(18, 2)), N'Không còn nhu cầu: ', 1)
INSERT [dbo].[tbl_hoa_don_tra] ([id], [ma_kh], [ma_nv], [ma_hd], [ngay_lap], [tien_hoan], [ly_do], [da_duyet]) VALUES (N'HDT1912250003', 22, N'ALA010001', N'HD1912250012', CAST(N'2025-12-19T15:20:59.700' AS DateTime), CAST(100000.00 AS Decimal(18, 2)), N'Mẫn cảm với thuốc: ', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_khach_hang] ON 

INSERT [dbo].[tbl_khach_hang] ([id], [ho_ten], [so_dien_thoai], [hang_thanh_vien], [diem_tich_luy], [created_at]) VALUES (1, N'Nguyễn Văn An', N'0912345678', 1, 703, CAST(N'2025-12-11T15:29:00' AS SmallDateTime))
INSERT [dbo].[tbl_khach_hang] ([id], [ho_ten], [so_dien_thoai], [hang_thanh_vien], [diem_tich_luy], [created_at]) VALUES (2, N'Trần Thị Bích Ngọc', N'0987654321', 3, 7066, CAST(N'2025-12-11T15:29:00' AS SmallDateTime))
INSERT [dbo].[tbl_khach_hang] ([id], [ho_ten], [so_dien_thoai], [hang_thanh_vien], [diem_tich_luy], [created_at]) VALUES (3, N'Lê Hoàng Minh', N'0905123456', 1, 740, CAST(N'2025-12-11T15:29:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[tbl_khach_hang] OFF
GO
INSERT [dbo].[tbl_lo_thuoc] ([so_lo], [ngay_san_xuat], [han_su_dung], [ngay_nhap], [so_luong_nhap], [so_luong_con], [gia_nhap], [gia_ban], [ma_sp], [ma_ncc], [ma_nv], [trang_thai_id], [created_at], [updated_at]) VALUES (N'LSX-131225-DHG-000001-001', CAST(N'2025-10-10' AS Date), CAST(N'2028-10-10' AS Date), CAST(N'2025-12-13T02:36:20.800' AS DateTime), 40, 28, CAST(3300.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 1, 1, N'ALA010001', 1, CAST(N'2025-12-13T02:36:00' AS SmallDateTime), CAST(N'2025-12-18T02:10:00' AS SmallDateTime))
INSERT [dbo].[tbl_lo_thuoc] ([so_lo], [ngay_san_xuat], [han_su_dung], [ngay_nhap], [so_luong_nhap], [so_luong_con], [gia_nhap], [gia_ban], [ma_sp], [ma_ncc], [ma_nv], [trang_thai_id], [created_at], [updated_at]) VALUES (N'LSX-131225-DHG-000004-002', CAST(N'2025-08-15' AS Date), CAST(N'2027-08-15' AS Date), CAST(N'2025-12-13T02:40:28.357' AS DateTime), 3000, 2985, CAST(1000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), 4, 1, N'ALA010001', 1, CAST(N'2025-12-13T02:40:00' AS SmallDateTime), CAST(N'2025-12-19T15:26:00' AS SmallDateTime))
INSERT [dbo].[tbl_lo_thuoc] ([so_lo], [ngay_san_xuat], [han_su_dung], [ngay_nhap], [so_luong_nhap], [so_luong_con], [gia_nhap], [gia_ban], [ma_sp], [ma_ncc], [ma_nv], [trang_thai_id], [created_at], [updated_at]) VALUES (N'LSX-131225-DHG-000005-003', CAST(N'2025-04-23' AS Date), CAST(N'2028-04-23' AS Date), CAST(N'2025-12-13T02:43:28.213' AS DateTime), 6000, 5041, CAST(50.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), 5, 1, N'ALA010001', 1, CAST(N'2025-12-13T02:43:00' AS SmallDateTime), CAST(N'2025-12-19T15:30:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_loai_san_pham] ON 

INSERT [dbo].[tbl_loai_san_pham] ([id], [ten_loai]) VALUES (1, N'Thuốc')
INSERT [dbo].[tbl_loai_san_pham] ([id], [ten_loai]) VALUES (2, N'Thực phẩm chức năng')
INSERT [dbo].[tbl_loai_san_pham] ([id], [ten_loai]) VALUES (3, N'Dụng cụ y tế')
SET IDENTITY_INSERT [dbo].[tbl_loai_san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_nha_cung_cap] ON 

INSERT [dbo].[tbl_nha_cung_cap] ([id], [ma_nha_may], [ten_nha_cung_cap], [dia_chi], [so_dien_thoai], [ma_so_thue], [email], [website], [ghi_chu]) VALUES (1, N'DHG', N'Công ty Cổ phần Dược Hậu Giang', N'288 Bis Nguyễn Văn Cừ, Quận Ninh Kiều, TP. Cần Thơ', N'02923891433', N'1800101990', N'contact@dhgpharma.com.vn', N'https://www.dhgpharma.com.vn', N'Nhà sản xuất và phân phối thuốc tân dược lớn tại Việt Nam')
INSERT [dbo].[tbl_nha_cung_cap] ([id], [ma_nha_may], [ten_nha_cung_cap], [dia_chi], [so_dien_thoai], [ma_so_thue], [email], [website], [ghi_chu]) VALUES (2, N'TRA', N'Công ty Cổ phần Traphaco', N'75 Yên Ninh, Quận Ba Đình, Hà Nội', N'02438232595', N'0100108656', N'info@traphaco.com.vn', N'https://traphaco.com.vn', N'Chuyên sản xuất thuốc đông dược và thực phẩm chức năng')
INSERT [dbo].[tbl_nha_cung_cap] ([id], [ma_nha_may], [ten_nha_cung_cap], [dia_chi], [so_dien_thoai], [ma_so_thue], [email], [website], [ghi_chu]) VALUES (3, N'OPC', N'Công ty Cổ phần Dược phẩm OPC', N'1017 Hồng Bàng, Quận 6, TP. Hồ Chí Minh', N'02838553211', N'0301428932', N'info@opcpharma.com', N'https://opcpharma.com', N'Chuyên cung cấp thuốc đông dược và dược liệu')
SET IDENTITY_INSERT [dbo].[tbl_nha_cung_cap] OFF
GO
INSERT [dbo].[tbl_nhan_vien] ([ma_nv], [ho_ten], [so_dien_thoai], [email], [ngay_sinh], [gioi_tinh], [dia_chi], [cua_hang_id], [avatar_url], [ngay_vao_lam], [deleted], [created_at], [update_at], [deleted_at]) VALUES (N'ALA010001', N'Bùi Trung Kiên', N'0363392352', N'buitrungkien2005qng@gmail.com', CAST(N'2005-03-03' AS Date), 1, N'Quảng Ngãi', 1, N'/images/empl/kien.png', CAST(N'2020-01-01' AS Date), 0, CAST(N'2025-12-11T15:29:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[tbl_nhan_vien] ([ma_nv], [ho_ten], [so_dien_thoai], [email], [ngay_sinh], [gioi_tinh], [dia_chi], [cua_hang_id], [avatar_url], [ngay_vao_lam], [deleted], [created_at], [update_at], [deleted_at]) VALUES (N'ALA010002', N'Lê Thị Kim Ngân', N'0942897960', N'kimngan01062005@gmail.com', CAST(N'2005-03-09' AS Date), 0, N'Bình Thuận', 1, N'/images/empl/ngan.png', CAST(N'2021-11-23' AS Date), 0, CAST(N'2025-12-11T15:29:00' AS SmallDateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_permission] ON 

INSERT [dbo].[tbl_permission] ([id], [permission_key]) VALUES (1, N'PRODUCT_VIEW')
INSERT [dbo].[tbl_permission] ([id], [permission_key]) VALUES (2, N'PRODUCT_ADD')
INSERT [dbo].[tbl_permission] ([id], [permission_key]) VALUES (3, N'PRODUCT_EDIT')
SET IDENTITY_INSERT [dbo].[tbl_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_role] ON 

INSERT [dbo].[tbl_role] ([id], [role_name]) VALUES (1, N'Manager')
INSERT [dbo].[tbl_role] ([id], [role_name]) VALUES (2, N'Pharmacist')
SET IDENTITY_INSERT [dbo].[tbl_role] OFF
GO
INSERT [dbo].[tbl_role_permission] ([role_id], [permission_id]) VALUES (1, 1)
INSERT [dbo].[tbl_role_permission] ([role_id], [permission_id]) VALUES (1, 2)
INSERT [dbo].[tbl_role_permission] ([role_id], [permission_id]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[tbl_san_pham] ON 

SET IDENTITY_INSERT [dbo].[tbl_san_pham] OFF
GO
INSERT [dbo].[tbl_tai_khoan] ([user_name], [password], [otp_key], [expiry_time], [account_locked], [created_at], [update_at], [deleted_at]) VALUES (N'ALA010001', N'$2a$06$BUEUzj427SXa0pHNKRTNeenNBgE20PR6ChI0GOpOY5zTWgtAKUMaG', NULL, NULL, 0, CAST(N'2025-12-11T15:29:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[tbl_tai_khoan] ([user_name], [password], [otp_key], [expiry_time], [account_locked], [created_at], [update_at], [deleted_at]) VALUES (N'ALA010002', N'$2a$06$BUEUzj427SXa0pHNKRTNeenNBgE20PR6ChI0GOpOY5zTWgtAKUMaG', N'551617', CAST(N'2025-12-18T02:44:35.3600000' AS DateTime2), 0, CAST(N'2025-12-11T15:29:00' AS SmallDateTime), CAST(N'2025-12-18T02:45:00' AS SmallDateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_tieu_chuan_chat_luong] ON 

INSERT [dbo].[tbl_tieu_chuan_chat_luong] ([id], [ten_tieu_chuan]) VALUES (1, N'GMP-WHO')
INSERT [dbo].[tbl_tieu_chuan_chat_luong] ([id], [ten_tieu_chuan]) VALUES (2, N'GMP-EU')
INSERT [dbo].[tbl_tieu_chuan_chat_luong] ([id], [ten_tieu_chuan]) VALUES (3, N'GMP-Japan')
SET IDENTITY_INSERT [dbo].[tbl_tieu_chuan_chat_luong] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_trang_thai_lo] ON 

INSERT [dbo].[tbl_trang_thai_lo] ([id], [ten_trang_thai]) VALUES (1, N'Đang lưu hành')
INSERT [dbo].[tbl_trang_thai_lo] ([id], [ten_trang_thai]) VALUES (2, N'Đã hủy')
INSERT [dbo].[tbl_trang_thai_lo] ([id], [ten_trang_thai]) VALUES (3, N'Đã bán hết')
SET IDENTITY_INSERT [dbo].[tbl_trang_thai_lo] OFF
GO
INSERT [dbo].[tbl_user_role] ([user_id], [role_id]) VALUES (N'ALA010001', 1)
INSERT [dbo].[tbl_user_role] ([user_id], [role_id]) VALUES (N'ALA010002', 2)
GO
INSERT [dbo].[tbl_voucher] ([ma_voucher], [gia_tri], [don_toi_thieu], [giam_toi_da], [ngay_bat_dau], [ngay_ket_thuc], [so_lan_da_dung], [so_luot_su_dung_toi_da], [dieu_kien_hang_tv], [deleted], [created_at], [update_at], [deleted_at]) VALUES (N'VCH1812250001', 10, CAST(50000.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(N'2025-12-19' AS Date), CAST(N'2025-12-31' AS Date), 0, 10, 3, 0, CAST(N'2025-12-18T12:17:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[tbl_voucher] ([ma_voucher], [gia_tri], [don_toi_thieu], [giam_toi_da], [ngay_bat_dau], [ngay_ket_thuc], [so_lan_da_dung], [so_luot_su_dung_toi_da], [dieu_kien_hang_tv], [deleted], [created_at], [update_at], [deleted_at]) VALUES (N'VCH1812250002', 5, CAST(10000.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(N'2025-12-19' AS Date), CAST(N'2025-12-20' AS Date), 3, 10, 1, 0, CAST(N'2025-12-18T12:20:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[tbl_voucher] ([ma_voucher], [gia_tri], [don_toi_thieu], [giam_toi_da], [ngay_bat_dau], [ngay_ket_thuc], [so_lan_da_dung], [so_luot_su_dung_toi_da], [dieu_kien_hang_tv], [deleted], [created_at], [update_at], [deleted_at]) VALUES (N'VCH1812250003', 7, CAST(50000.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(N'2025-12-19' AS Date), CAST(N'2025-12-26' AS Date), 0, 35, 2, 0, CAST(N'2025-12-18T12:21:00' AS SmallDateTime), NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_khac__BD03D94CA4E9766E]    Script Date: 12/19/2025 3:48:53 PM ******/
ALTER TABLE [dbo].[tbl_khach_hang] ADD UNIQUE NONCLUSTERED 
(
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_nha___D3D3D40EA1F7D8CC]    Script Date: 12/19/2025 3:48:53 PM ******/
ALTER TABLE [dbo].[tbl_nha_cung_cap] ADD UNIQUE NONCLUSTERED 
(
	[ma_nha_may] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_nhan__AB6E61643033CE97]    Script Date: 12/19/2025 3:48:53 PM ******/
ALTER TABLE [dbo].[tbl_nhan_vien] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_nhan__BD03D94C79AD61CE]    Script Date: 12/19/2025 3:48:53 PM ******/
ALTER TABLE [dbo].[tbl_nhan_vien] ADD UNIQUE NONCLUSTERED 
(
	[so_dien_thoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_san___4B2B773EC3398E78]    Script Date: 12/19/2025 3:48:53 PM ******/
ALTER TABLE [dbo].[tbl_san_pham] ADD UNIQUE NONCLUSTERED 
(
	[so_dang_ky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_san___C16E36F80F27CEE5]    Script Date: 12/19/2025 3:48:53 PM ******/
ALTER TABLE [dbo].[tbl_san_pham] ADD UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don_tra] ADD  DEFAULT ((0)) FOR [trang_thai_id]
GO
ALTER TABLE [dbo].[tbl_hoa_don] ADD  DEFAULT (concat('HD',right('00'+CONVERT([varchar](2),datepart(day,getdate())),(2)),right('00'+CONVERT([varchar](2),datepart(month,getdate())),(2)),right(CONVERT([varchar](4),datepart(year,getdate())),(2)),right('0000'+CONVERT([varchar](4),NEXT VALUE FOR [Invoice_Seq]),(4)))) FOR [id]
GO
ALTER TABLE [dbo].[tbl_hoa_don] ADD  DEFAULT (getdate()) FOR [ngay_lap]
GO
ALTER TABLE [dbo].[tbl_hoa_don] ADD  DEFAULT ((0)) FOR [da_tra]
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra] ADD  DEFAULT (concat('HDT',right('00'+CONVERT([varchar](2),datepart(day,getdate())),(2)),right('00'+CONVERT([varchar](2),datepart(month,getdate())),(2)),right(CONVERT([varchar](4),datepart(year,getdate())),(2)),right('0000'+CONVERT([varchar](4),NEXT VALUE FOR [Refund_Seq]),(4)))) FOR [id]
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra] ADD  DEFAULT (getdate()) FOR [ngay_lap]
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra] ADD  DEFAULT ((0)) FOR [da_duyet]
GO
ALTER TABLE [dbo].[tbl_khach_hang] ADD  DEFAULT ((0)) FOR [diem_tich_luy]
GO
ALTER TABLE [dbo].[tbl_khach_hang] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] ADD  DEFAULT (getdate()) FOR [ngay_nhap]
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] ADD  DEFAULT ((1)) FOR [trang_thai_id]
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_nhan_vien] ADD  DEFAULT ('ALA01'+right('0000'+CONVERT([varchar](4),NEXT VALUE FOR [Emp_Seq]),(4))) FOR [ma_nv]
GO
ALTER TABLE [dbo].[tbl_nhan_vien] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[tbl_nhan_vien] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_san_pham] ADD  DEFAULT ((0)) FOR [tong_so_luong]
GO
ALTER TABLE [dbo].[tbl_san_pham] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[tbl_san_pham] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_tai_khoan] ADD  DEFAULT ((0)) FOR [account_locked]
GO
ALTER TABLE [dbo].[tbl_tai_khoan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_voucher] ADD  DEFAULT (concat('VCH',right('00'+CONVERT([varchar](2),datepart(day,getdate())),(2)),right('00'+CONVERT([varchar](2),datepart(month,getdate())),(2)),right(CONVERT([varchar](4),datepart(year,getdate())),(2)),right('0000'+CONVERT([varchar](4),NEXT VALUE FOR [Vou_Seq]),(4)))) FOR [ma_voucher]
GO
ALTER TABLE [dbo].[tbl_voucher] ADD  DEFAULT ((0)) FOR [don_toi_thieu]
GO
ALTER TABLE [dbo].[tbl_voucher] ADD  DEFAULT ((0)) FOR [giam_toi_da]
GO
ALTER TABLE [dbo].[tbl_voucher] ADD  DEFAULT ((0)) FOR [so_lan_da_dung]
GO
ALTER TABLE [dbo].[tbl_voucher] ADD  DEFAULT ((1)) FOR [dieu_kien_hang_tv]
GO
ALTER TABLE [dbo].[tbl_voucher] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[tbl_voucher] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_cthd_hd] FOREIGN KEY([ma_hd])
REFERENCES [dbo].[tbl_hoa_don] ([id])
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don] CHECK CONSTRAINT [fk_cthd_hd]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_cthd_solo] FOREIGN KEY([so_lo])
REFERENCES [dbo].[tbl_lo_thuoc] ([so_lo])
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don] CHECK CONSTRAINT [fk_cthd_solo]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_cthd_sp] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[tbl_san_pham] ([id])
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don] CHECK CONSTRAINT [fk_cthd_sp]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don_tra]  WITH CHECK ADD  CONSTRAINT [fk_cthdtra_hdtra] FOREIGN KEY([ma_hd_tra])
REFERENCES [dbo].[tbl_hoa_don_tra] ([id])
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don_tra] CHECK CONSTRAINT [fk_cthdtra_hdtra]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don_tra]  WITH CHECK ADD  CONSTRAINT [fk_cthdtra_lo] FOREIGN KEY([so_lo])
REFERENCES [dbo].[tbl_lo_thuoc] ([so_lo])
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don_tra] CHECK CONSTRAINT [fk_cthdtra_lo]
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don_tra]  WITH CHECK ADD  CONSTRAINT [fk_cthdtra_sp] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[tbl_san_pham] ([id])
GO
ALTER TABLE [dbo].[tbl_chi_tiet_hoa_don_tra] CHECK CONSTRAINT [fk_cthdtra_sp]
GO
ALTER TABLE [dbo].[tbl_hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_hd_kh] FOREIGN KEY([ma_kh])
REFERENCES [dbo].[tbl_khach_hang] ([id])
GO
ALTER TABLE [dbo].[tbl_hoa_don] CHECK CONSTRAINT [fk_hd_kh]
GO
ALTER TABLE [dbo].[tbl_hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_hd_nv] FOREIGN KEY([ma_nv])
REFERENCES [dbo].[tbl_nhan_vien] ([ma_nv])
GO
ALTER TABLE [dbo].[tbl_hoa_don] CHECK CONSTRAINT [fk_hd_nv]
GO
ALTER TABLE [dbo].[tbl_hoa_don]  WITH CHECK ADD  CONSTRAINT [fk_hd_voucher] FOREIGN KEY([ma_vou])
REFERENCES [dbo].[tbl_voucher] ([ma_voucher])
GO
ALTER TABLE [dbo].[tbl_hoa_don] CHECK CONSTRAINT [fk_hd_voucher]
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra]  WITH CHECK ADD  CONSTRAINT [fk_hdtra_hd] FOREIGN KEY([ma_hd])
REFERENCES [dbo].[tbl_hoa_don] ([id])
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra] CHECK CONSTRAINT [fk_hdtra_hd]
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra]  WITH CHECK ADD  CONSTRAINT [fk_hdtra_kh] FOREIGN KEY([ma_kh])
REFERENCES [dbo].[tbl_khach_hang] ([id])
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra] CHECK CONSTRAINT [fk_hdtra_kh]
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra]  WITH CHECK ADD  CONSTRAINT [fk_hdtra_nv] FOREIGN KEY([ma_nv])
REFERENCES [dbo].[tbl_nhan_vien] ([ma_nv])
GO
ALTER TABLE [dbo].[tbl_hoa_don_tra] CHECK CONSTRAINT [fk_hdtra_nv]
GO
ALTER TABLE [dbo].[tbl_khach_hang]  WITH CHECK ADD  CONSTRAINT [fk_kh_htv] FOREIGN KEY([hang_thanh_vien])
REFERENCES [dbo].[tbl_hang_thanh_vien] ([id])
GO
ALTER TABLE [dbo].[tbl_khach_hang] CHECK CONSTRAINT [fk_kh_htv]
GO
ALTER TABLE [dbo].[tbl_lo_thuoc]  WITH CHECK ADD  CONSTRAINT [fk_lothuoc_ncc] FOREIGN KEY([ma_ncc])
REFERENCES [dbo].[tbl_nha_cung_cap] ([id])
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] CHECK CONSTRAINT [fk_lothuoc_ncc]
GO
ALTER TABLE [dbo].[tbl_lo_thuoc]  WITH CHECK ADD  CONSTRAINT [fk_lothuoc_nv] FOREIGN KEY([ma_nv])
REFERENCES [dbo].[tbl_nhan_vien] ([ma_nv])
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] CHECK CONSTRAINT [fk_lothuoc_nv]
GO
ALTER TABLE [dbo].[tbl_lo_thuoc]  WITH CHECK ADD  CONSTRAINT [fk_lothuoc_sp] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[tbl_san_pham] ([id])
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] CHECK CONSTRAINT [fk_lothuoc_sp]
GO
ALTER TABLE [dbo].[tbl_lo_thuoc]  WITH CHECK ADD  CONSTRAINT [fk_lothuoc_trangthai] FOREIGN KEY([trang_thai_id])
REFERENCES [dbo].[tbl_trang_thai_lo] ([id])
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] CHECK CONSTRAINT [fk_lothuoc_trangthai]
GO
ALTER TABLE [dbo].[tbl_nhan_vien]  WITH CHECK ADD  CONSTRAINT [fk_nhan_vien_cua_hang] FOREIGN KEY([cua_hang_id])
REFERENCES [dbo].[tbl_cua_hang] ([id])
GO
ALTER TABLE [dbo].[tbl_nhan_vien] CHECK CONSTRAINT [fk_nhan_vien_cua_hang]
GO
ALTER TABLE [dbo].[tbl_role_permission]  WITH CHECK ADD  CONSTRAINT [fk_permission] FOREIGN KEY([permission_id])
REFERENCES [dbo].[tbl_permission] ([id])
GO
ALTER TABLE [dbo].[tbl_role_permission] CHECK CONSTRAINT [fk_permission]
GO
ALTER TABLE [dbo].[tbl_role_permission]  WITH CHECK ADD  CONSTRAINT [fk_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[tbl_role] ([id])
GO
ALTER TABLE [dbo].[tbl_role_permission] CHECK CONSTRAINT [fk_role]
GO
ALTER TABLE [dbo].[tbl_san_pham]  WITH CHECK ADD  CONSTRAINT [fk_san_pham_loai] FOREIGN KEY([loai_sp_id])
REFERENCES [dbo].[tbl_loai_san_pham] ([id])
GO
ALTER TABLE [dbo].[tbl_san_pham] CHECK CONSTRAINT [fk_san_pham_loai]
GO
ALTER TABLE [dbo].[tbl_tai_khoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([user_name])
REFERENCES [dbo].[tbl_nhan_vien] ([ma_nv])
GO
ALTER TABLE [dbo].[tbl_tai_khoan] CHECK CONSTRAINT [FK_TK_NV]
GO
ALTER TABLE [dbo].[tbl_user_role]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_nhan_vien] ([ma_nv])
GO
ALTER TABLE [dbo].[tbl_user_role] CHECK CONSTRAINT [fk_user]
GO
ALTER TABLE [dbo].[tbl_user_role]  WITH CHECK ADD  CONSTRAINT [fk_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[tbl_role] ([id])
GO
ALTER TABLE [dbo].[tbl_user_role] CHECK CONSTRAINT [fk_user_role]
GO
ALTER TABLE [dbo].[tbl_voucher]  WITH CHECK ADD  CONSTRAINT [fk_voucher_hang_tv] FOREIGN KEY([dieu_kien_hang_tv])
REFERENCES [dbo].[tbl_hang_thanh_vien] ([id])
GO
ALTER TABLE [dbo].[tbl_voucher] CHECK CONSTRAINT [fk_voucher_hang_tv]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_lo_thuoc]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------------------
-- 3. Store Procedure
-------------------------------------------------------------------------------------------
-- SP thêm mới lô thuốc
create procedure [dbo].[sp_insert_lo_thuoc]
	@ngay_san_xuat date,
	@han_su_dung date,
	@so_luong_nhap int,
	@so_luong_con int,
	@gia_nhap decimal(18, 2),
	@gia_ban decimal(18, 2),
	@ma_sp int,
	@ma_ncc tinyint,
	@ma_nv varchar(10),
	@so_lo varchar(30) output

as
begin 
	set nocount on;

	SELECT @so_lo =
        'LSX-' 
        + RIGHT('00' + CAST(DAY(GETDATE()) AS VARCHAR(2)), 2) 
        + RIGHT('00' + CAST(MONTH(GETDATE()) AS VARCHAR(2)), 2)
        + RIGHT(CAST(YEAR(GETDATE()) % 100 AS VARCHAR(2)), 2) + '-' +
        ISNULL(ncc.ma_nha_may, 'AA') + '-' +
        FORMAT(@ma_sp, '000000') + '-' +
        RIGHT('000' + CAST(NEXT VALUE FOR LoThuoc_Seq AS VARCHAR(3)), 3)
    FROM tbl_nha_cung_cap ncc
    WHERE ncc.id = @ma_ncc;

    INSERT INTO tbl_lo_thuoc (
        so_lo, ngay_san_xuat, han_su_dung,
        so_luong_nhap, so_luong_con, gia_nhap, gia_ban,
        ma_sp, ma_ncc, ma_nv
    ) VALUES (
        @so_lo, @ngay_san_xuat, @han_su_dung,
        @so_luong_nhap, @so_luong_con, @gia_nhap, @gia_ban,
        @ma_sp, @ma_ncc, @ma_nv
    );

    SELECT @so_lo AS so_lo;

end;
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraVaCapNhatHetHan]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_KiemTraVaCapNhatHetHan]
AS
BEGIN
    SET NOCOUNT ON; 

    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @NgayHienTai DATE = CAST(GETDATE() AS DATE);

        -- BƯỚC 1: Trừ số lượng tổng ở bảng tbl_san_pham
        -- Logic: Chỉ trừ những lô có hạn nhỏ hơn ngày hôm nay VÀ chưa có trạng thái 4
        UPDATE sp
        SET sp.tong_so_luong = sp.tong_so_luong - lo.so_luong_con
        FROM tbl_san_pham sp
        INNER JOIN tbl_lo_thuoc lo ON lo.ma_sp = sp.id
        WHERE lo.han_su_dung < @NgayHienTai 
          AND lo.trang_thai_id != 4;

        -- BƯỚC 2: Cập nhật trạng thái lô thuốc thành 4 (Hết hạn)
        UPDATE tbl_lo_thuoc
        SET trang_thai_id = 4
        WHERE han_su_dung < @NgayHienTai 
          AND trang_thai_id != 4 AND trang_thai_id != 2;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
    END CATCH
END;

GO
/****** Object:  Trigger [dbo].[trg_update_rank_cus]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger tự động cập nhật hạng thành viên khi tăng điểm tích luỹ hoặc thêm mới khách hàng
create trigger [dbo].[trg_update_rank_cus]
on [dbo].[tbl_khach_hang]
after update
as
begin
	
	set nocount on;

	update kh
	set hang_thanh_vien = (select top 1 id from tbl_hang_thanh_vien where i.diem_tich_luy >= diem_toi_thieu order by diem_toi_thieu desc)
	from tbl_khach_hang kh 
	inner join inserted i on kh.id = i.id
	inner join deleted d on d.id = i.id
	where i.diem_tich_luy <> d.diem_tich_luy

end;
GO
ALTER TABLE [dbo].[tbl_khach_hang] ENABLE TRIGGER [trg_update_rank_cus]
GO
/****** Object:  Trigger [dbo].[trg_update_rank_cus_after_insert]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[trg_update_rank_cus_after_insert]
on [dbo].[tbl_khach_hang]
after insert
as
begin
	
	set nocount on;

	update kh
	set hang_thanh_vien = (select top 1 id from tbl_hang_thanh_vien where i.diem_tich_luy >= diem_toi_thieu order by diem_toi_thieu desc)
	from tbl_khach_hang kh inner join inserted i on i.id = kh.id
end;
GO
ALTER TABLE [dbo].[tbl_khach_hang] ENABLE TRIGGER [trg_update_rank_cus_after_insert]
GO
/****** Object:  Trigger [dbo].[trg_auto_upd_qty_after_upd_slcon]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger tự động cập nhật tổng số lượng trong kho khi chỉnh số lượng còn của lô
create trigger [dbo].[trg_auto_upd_qty_after_upd_slcon]
on [dbo].[tbl_lo_thuoc]
after update
as
begin 
    set nocount on;

    -- CASE 1: đang lưu hành -> đang lưu hành (chỉ cập nhật số lượng)
    update sp
    set sp.tong_so_luong = sp.tong_so_luong + (i.so_luong_con - d.so_luong_con)
    from inserted i
    inner join deleted d on i.so_lo = d.so_lo 
    inner join tbl_san_pham sp on sp.id = d.ma_sp
    where d.trang_thai_id = 1 
      and i.trang_thai_id = 1
      and d.so_luong_con != i.so_luong_con;

    -- CASE 2: đang lưu hành -> hủy lô
    update sp
    set sp.tong_so_luong = sp.tong_so_luong - d.so_luong_con
    from inserted i
    inner join deleted d on i.so_lo = d.so_lo
    inner join tbl_san_pham sp on sp.id = d.ma_sp
    where d.trang_thai_id = 1 
      and i.trang_thai_id = 2;

    -- CASE 3: hủy lô -> đang lưu hành
    update sp
    set sp.tong_so_luong = sp.tong_so_luong + i.so_luong_con
    from inserted i
    inner join deleted d on i.so_lo = d.so_lo 
    inner join tbl_san_pham sp on sp.id = d.ma_sp
    where d.trang_thai_id = 2 
      and i.trang_thai_id = 1;
end;
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] ENABLE TRIGGER [trg_auto_upd_qty_after_upd_slcon]
GO
/****** Object:  Trigger [dbo].[trg_auto_upd_status_lothuoc]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_auto_upd_status_lothuoc]
ON [dbo].[tbl_lo_thuoc]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF TRIGGER_NESTLEVEL() > 1 RETURN;

    UPDATE lo
    SET
        lo.trang_thai_id = CASE WHEN i.so_luong_con = 0 THEN 3 ELSE 1 END,
        lo.updated_at = GETDATE()
    FROM tbl_lo_thuoc lo
    INNER JOIN inserted i ON lo.so_lo = i.so_lo
    WHERE
        i.trang_thai_id <> 2
        AND (i.so_luong_con <> (SELECT so_luong_con FROM deleted WHERE so_lo = i.so_lo)
             OR i.so_luong_con = 0);
END;

GO
ALTER TABLE [dbo].[tbl_lo_thuoc] ENABLE TRIGGER [trg_auto_upd_status_lothuoc]
GO
/****** Object:  Trigger [dbo].[trg_UpdateTongSoLuong]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tư động cập nhật tổng số lượng trong kho
CREATE TRIGGER [dbo].[trg_UpdateTongSoLuong]
ON [dbo].[tbl_lo_thuoc]
AFTER INSERT
AS
BEGIN
    UPDATE sp
    SET sp.tong_so_luong = sp.tong_so_luong + i.so_luong_nhap
    FROM tbl_san_pham sp
    INNER JOIN inserted i ON sp.id = i.ma_sp
END
GO
ALTER TABLE [dbo].[tbl_lo_thuoc] ENABLE TRIGGER [trg_UpdateTongSoLuong]
GO
/****** Object:  Trigger [dbo].[trg_auto_create_account]    Script Date: 12/19/2025 3:48:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------------------
-- 2. Trigger
-------------------------------------------------------------------------------------------
-- Khi thêm mới một nhân viên thì tự động thêm mới một tài khoản, user_name là mã nhân viên và mật khẩu ban đầu là 123
create trigger [dbo].[trg_auto_create_account] 
on [dbo].[tbl_nhan_vien]
after insert
as
begin
	set nocount on;

	insert into tbl_tai_khoan(user_name, password)
	select i.ma_nv, '$2a$06$BUEUzj427SXa0pHNKRTNeenNBgE20PR6ChI0GOpOY5zTWgtAKUMaG'
	from inserted i;
end;
GO
ALTER TABLE [dbo].[tbl_nhan_vien] ENABLE TRIGGER [trg_auto_create_account]
GO
/****** Object:  Trigger [dbo].[trg_soft_del_emp]    Script Date: 12/19/2025 3:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Xoá một nhân viên thì khóa luôn tài khoản của nhân viên đó. (user_name = ma_nv)
create trigger [dbo].[trg_soft_del_emp]
on [dbo].[tbl_nhan_vien]
instead of delete
as
begin
	set nocount on;

	update tk set tk.account_locked=1, tk.deleted_at=GETDATE()
	from tbl_tai_khoan tk inner join deleted d on tk.user_name = d.ma_nv;

	update nv set nv.deleted=1, nv.deleted_at=GETDATE()
	from tbl_nhan_vien nv inner join deleted d on nv.ma_nv = d.ma_nv;
end;
GO
ALTER TABLE [dbo].[tbl_nhan_vien] ENABLE TRIGGER [trg_soft_del_emp]
GO
/****** Object:  Trigger [dbo].[trg_upd_emp]    Script Date: 12/19/2025 3:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sau khi cập nhật thông tin nhân viên
create trigger [dbo].[trg_upd_emp]
on [dbo].[tbl_nhan_vien]
after update 
as 
begin
	SET NOCOUNT ON;
	update t set t.update_at = GETDATE()
	from tbl_nhan_vien t
	inner join inserted i on t.ma_nv = i.ma_nv
end;
GO
ALTER TABLE [dbo].[tbl_nhan_vien] ENABLE TRIGGER [trg_upd_emp]
GO
/****** Object:  Trigger [dbo].[trg_upd_account]    Script Date: 12/19/2025 3:48:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sau khi cập nhật tài khoản 
create trigger [dbo].[trg_upd_account]
on [dbo].[tbl_tai_khoan]
after update 
as 
begin
	SET NOCOUNT ON;
	update t set t.update_at = GETDATE()
	from tbl_tai_khoan t
	inner join inserted i on t.user_name = i.user_name
end;
GO
ALTER TABLE [dbo].[tbl_tai_khoan] ENABLE TRIGGER [trg_upd_account]
GO
USE [master]
GO
